* {
    box-sizing: border-box;
}



body {
    background-image: linear-gradient(to left top, #6bd186, #00cdaf, #00c5d8, #00b8f5, #00a6fe, #8a9bff, #cd8def, #fb7fce, #ff88a6, #ffa67b, #ffd05a, #f9fb5f);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    justify-content: center;
    align-items: center;
}
h2{
    color: darkblue;
    font-family: cursive;
    margin-top: 0em;
}

h1 {
    text-align: center;
    color: rgb(96, 47, 145);
    font-weight: bolder;
    font-size: 50px;
    font-family: 'Press Start 2P', cursive;
}

h3 {
    margin-top: 0em;
    color:rgb(221, 255, 0);
}

#board {
    display: grid;
    background-color: blue;
    grid-template-rows: repeat(6, 10vmin);
    grid-template-columns: repeat(7, 10vmin);
    gap: 0.2vmin;
    height: 77vmin;
    width: 97vmin;
    justify-content: center;
    border-radius: 10%;
}

#board > div {
    border-radius: 50%;
    border: 2px solid black;
    background-color: white;
    align-content: center;
}

#buttons > button {
    height: 4vmin;
    width: 8vmin;
    margin: 10px;
    background-color: greenyellow;
    border-radius: 30%;
}

#buttons > button:hover {
    background-color: pink;
}

#buttons  {
    display: grid;
    grid-template-rows: 10vmin;
    grid-template-columns: repeat(7, 10vmin);
    width: 77vmin;
    gap: 0.2vmin;  
    margin-left:40px;  
    
}

.rstgame > button {
    background-color: peachpuff;
    color: red;
    height: 4vmin;
    width: 20vmin;
    font-size: larger;
}

.rstgame > button:hover {
    background-color: white;
    color: black;
}
.play{
    color:rgb(207, 18, 160);
    font-weight: bold;
    font-size: 20px;
}
#msg1{
    font-weight: bolder;
    font-size: 30px;
}

@media only screen and (min-width:300px) and (max-width:700px) {
    #board{
        max-height: 62vmin;
    }
    
    h1{
        font-size: 30px;
    }
    h2{
        font-size: small;

        
    }
}
@media only screen and (min-width:300px) and (max-width:600px) {
    #buttons  {
        margin-right: 30px;
    }
}

@media only screen and (min-width:300px) and (max-width:620px){
    .rstgame > button{
        font-size: 10px;
    }
}
@media only screen and (max-width:400px){
h1{
    font-size: 20px;
}
}